PORT=5000
NODE_ENV=development
MONGO_URI=mongodb_uri_placeholder

JWT_SECRET=jwt_access_token_secret_placeholder
JWT_REFRESH_SECRET=jwt_refresh_token_secret_placeholder

CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name_placeholder
CLOUDINARY_API_KEY=cloudinary_api_key_placeholder
CLOUDINARY_API_SECRET=cloudinary_api_secret_placeholder

APILAYER_API_KEY=apilayer_resume_parser_api_key_placeholder

AI_SERVICE_URL=http://localhost:8000
